## Part 1

In [156]:
import pandas as pd

In [277]:
with open('test.txt') as f:
    lines = f.read().splitlines()

coordinates = []
folds = []

for line in lines:
    if 'fold' in line:
        folds.append(line)
    elif line != '':
        coordinates.append(line)

folds = [fold[-3:].split('=') for fold in folds]
coordinates = [coord.split(',') for coord in coordinates]
coordinates = [tuple(int(j) for j in i) for i in coordinates]

In [278]:
def draw_points(sheet, rows, columns):
    for row, column in zip(rows, columns):
         sheet.loc[row, column] = '#'
    return sheet

def get_sheet(coordinates):
    columns = [int(coord[0]) for coord in coordinates]
    rows = [int(coord[1]) for coord in coordinates]
    sheet = pd.DataFrame('*', index=range(max(rows)+1), columns=range(max(columns)+1))
    
    draw_points(sheet, rows, columns)
    return sheet

sheet = get_sheet(coordinates)
sheet

   0  1  2  3  4  5  6  7  8  9  10
0   *  *  *  #  *  *  #  *  *  #  *
1   *  *  *  *  #  *  *  *  *  *  *
2   *  *  *  *  *  *  *  *  *  *  *
3   #  *  *  *  *  *  *  *  *  *  *
4   *  *  *  #  *  *  *  *  #  *  #
5   *  *  *  *  *  *  *  *  *  *  *
6   *  *  *  *  *  *  *  *  *  *  *
7   *  *  *  *  *  *  *  *  *  *  *
8   *  *  *  *  *  *  *  *  *  *  *
9   *  *  *  *  *  *  *  *  *  *  *
10  *  #  *  *  *  *  #  *  #  #  *
11  *  *  *  *  #  *  *  *  *  *  *
12  *  *  *  *  *  *  #  *  *  *  #
13  #  *  *  *  *  *  *  *  *  *  *
14  #  *  #  *  *  *  *  *  *  *  *

In [279]:
def fold_horizontally(sheet, coordinates):
    
    max_rows = len(sheet.index)-1
    fold_line = int(len(sheet.index)/2)
    overlaps = [coord for coord in coordinates if coord[1] > fold_line]

    columns = [int(coord[0]) for coord in overlaps]
    rows = [max_rows-coord[1] for coord in overlaps]
    
    coordinates = list(zip(columns, rows)) + 
        
    draw_points(sheet, rows, columns)
    
    sheet.drop(sheet.tail(fold_line+1).index, inplace=True)
    return sheet, coordinates

sheet, new_coordinates = fold_horizontally(sheet, coordinates)
sheet

  0  1  2  3  4  5  6  7  8  9  10
0  #  *  #  #  *  *  #  *  *  #  *
1  #  *  *  *  #  *  *  *  *  *  *
2  *  *  *  *  *  *  #  *  *  *  #
3  #  *  *  *  #  *  *  *  *  *  *
4  *  #  *  #  *  *  #  *  #  #  #
5  *  *  *  *  *  *  *  *  *  *  *
6  *  *  *  *  *  *  *  *  *  *  *

In [ ]:
def fold_vertically(sheet, coordinates):
    
    max_columns = len(sheet.columns)-1
    fold_line = int(len(sheet.columns)/2)
    overlaps = [coord for coord in coordinates if int(coord[0]) > fold_line]
    
    columns = [max_columns-int(coord[0]) for coord in overlaps]
    rows = [int(coord[1]) for coord in overlaps]
    
    draw_points(sheet, rows, columns)
    
    sheet = sheet.iloc[:, :-fold_line]
    return sheet

In [235]:
max_columns = len(sheet.columns)-1
fold_line = int(len(sheet.columns)/2)
overlaps = [coord for coord in coordinates if int(coord[0]) > fold_line]
overlaps

# columns = [max_columns-int(coord[0]) for coord in overlaps]
# rows = [int(coord[1]) for coord in overlaps]
    
# new_sheet = draw_points(sheet, rows, columns)
# new_sheet    
# # sheet = sheet.iloc[:, :-fold_line]

[]

In [212]:
fold_line

5

In [202]:
sheet = sheet.iloc[:, :-fold_line]
sheet

   0  1  2  3  4
0  #  *  #  #  *
1  #  *  *  *  #
2  *  *  *  *  *
3  #  *  *  *  #
4  *  #  *  #  *
5  *  *  *  *  *
6  *  *  *  *  *